a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 433px;
  margin-left: 80px;
  font-family: "Homemade Apple", sans-serif;
}
.nav-list {
  display: flex;
  gap: 31px;
  margin-right: 375px;
}
.nav-item {
}
.nav-link {
  padding: 47px 0;
  display: block;
}
.button {
  background-color: transparent;
}
.main-section {
  display: flex;
}
.content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-title {
  font-family: "roboto";
  font-size: 56px;
  line-height: 69px;
  margin-bottom: 36px;
  max

  color: #000000;
}
.content-wrapper {
  max-width: 433px;
}
.content-text {
  margin-bottom: 52px;
}
